:root{ 
  --bg-main: #EB7500;  
  --bg-main2: #b85c00;   
  --bg-main3: #FFEDB3;   
  --bg-main4: #fefbf4;    
  --h-org: 30px;  
  --h-org2: 30px;  
}
a:hover{
  text-decoration: none;
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1250px;
  }
}
body{
  font-family: 'Sarabun', sans-serif;
  background-color: var(--bg-body);  
  padding-top: 40px;
  border-top: 10px solid var(--bg-main);
}   
h1{
  font-size: 32px; 
  color: var(--bg-main2);
  margin-bottom: 30px; 
}
.org{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  padding: 15px 40px; 
  margin: auto; 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  margin-bottom: var(--h-org);
  transition: .33s all ease-out;  
  font-size: 16px;
  height: 80px;
  z-index: 5 !important;
  text-align: center; 
  max-width: 100%;
} 
.org span{
  /* animation: blink-text 1.9s linear infinite;    */
  position: absolute; 
  bottom: 5px;
  right: 5px;
  font-size: 16px;
} 
.org.active span{
  transform: rotate(180deg);
} 
.org:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.org.active:after{
  content: "";
  position: absolute;
  left: auto;
  right: auto;
  display: block; 
  height: var(--h-org);
  top: 100%;
  width: 4px;
  background-color: #000; 
}
/*
.m{ 
  box-shadow: rgba(235, 117, 0, 0.4) 5px 5px, rgba(235, 117, 0, 0.3) 10px 10px, rgba(235, 117, 0, 0.2) 15px 15px, rgba(235, 117, 0, 0.1) 20px 20px, rgba(235, 117, 0, 0.05) 25px 25px;
} */
.m{ 
  box-shadow: rgba(235, 117, 0, 0.4) 5px 5px, rgba(235, 117, 0, 0.3) 10px 10px ;
}
.org.org1{ 
  background-color: var(--bg-main2); 
  color: #fff; 
  font-weight: bold;
}  
.org2:after{ 
  height: var(--h-org2);  
}   
.org2{  
  color: #fff;  
  background-color: var(--bg-main);
  height: 60px;
  margin-top: 30px;
}   
.org2:after{
  content: "";
  position: absolute;
  left: auto;
  right: auto;
  display: block; 
  height: var(--h-org);
  top: -50%;
  width: 4px;
  background-color: #000;
} 
.level2{
  display: none;
} 
.level1.active + .level2{
  display: flex !important;
} 
.level2 > div{
  position: relative;
} 
.level2 > div:after{
  content: "";
  position: absolute;
  background-color: #000;
  right: 0;
  top: 0;
  width: 50%;
  height: 4px;
}
.level2 > div:first-child:after{ 
  background-color: #000;
  right: 0;
  top: 0; 
}
.level2 > div:last-child:after{
  background-color: #000;
  left: 0;
  top: 0; 
}  
.org2.active:before{
  content: "";
  position: absolute;
  left: auto;
  right: auto;
  display: block; 
  height: var(--h-org);
  top: 100%;
  width: 4px;
  background-color: #000;
} 
.org2.active:after{
  content: "";
  position: absolute;
  left: auto;
  right: auto;
  display: block; 
  height: var(--h-org);
  top: -50%;
  width: 4px;
  background-color: #000;
} 
.level3{
  display: none;
} 
.level2.active + .level3{
  display: flex !important;
} 


.org3{  
  color: #000;  
  background-color: var(--bg-main3);
  height: 60px;
  margin-top: 30px;
}  
.org3:after{
  content: "";
  position: absolute;
  left: auto;
  right: auto;
  display: block; 
  height: var(--h-org);
  top: -50%;
  width: 4px;
  background-color: #000;
} 
.org3:before{
  content: "";
  position: absolute;
  left: auto;
  right: auto;
  display: block; 
  height: var(--h-org);
  top: 100%;
  width: 4px;
  background-color: #000;
} 
.org2.active span{
  transform: rotate(180deg);
} 
.level3 > div{
  position: relative;
} 
.level3 > div:after{
  content: "";
  position: absolute;
  background-color: #000;
  right: 0;
  top: 0;
  width: 50%;
  height: 4px;
}
.level3 > div:first-child:after{ 
  background-color: #000;
  right: 0;
  top: 0; 
}
.level3 > div:last-child:after{
  background-color: #000;
  left: 0;
  top: 0; 
}
.org4{ 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  text-align: center;
  font-size: 11px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-top: 30px; 
  width: 240px !important;
  cursor: pointer;  
  padding: 10px; 
  height: 53px;
  background-color: var(--bg-main4);
}
.org4.active{
  background-color: var(--bg-main);
  color: #fff;
}

.level4 > .org4{
  position: relative;
} 
.level4 > .org4:after{
  content: "";
  position: absolute;
  background-color: #000; 
  top: -30px;
  width: calc(100% + 10px);
  height: 4px;
}
.level4 > .org4:first-child:after { 
  left: 50%;
}
.level4 > .org4:last-child:after { 
  right: 50%;
}
.org4:before {
  content: "";
  position: absolute;
  left: auto;
  right: auto;
  display: block;
  height: var(--h-org);
  top: calc(-50% - 4px);
  width: 4px;
  background-color: #000;
}
.org41{ 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-main4);
  text-align: center;
  font-size: 11px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-top: 30px; 
  width: 240px !important;
  cursor: pointer;  
  padding: 10px; 
  height: 53px;
  position: relative;
}
.org41:before {
  content: "";
  position: absolute;
  left: auto;
  right: auto;
  display: block;
  height: var(--h-org);
  top: calc(-50% - 4px);
  width: 4px;
  background-color: #000;
}
.level4{
  display: none;
} 
.level3.active + .level4{
  display: flex !important;
} 

.org3:before {
  content: unset; 
}
.org3.active:before {
  content: "";
  position: absolute;
  left: auto;
  right: auto;
  display: block;
  height: var(--h-org);
  top: 100%;
  width: 4px;
  background-color: #000;
}
.org3.active:after {
  content: "";
  position: absolute;
  left: auto;
  right: auto;
  display: block;
  height: var(--h-org);
  top: -50%;
  width: 4px;
  background-color: #000;
}
.org4.active{
  z-index: 5 !important;
  position: relative;
} 
.org4.active div{
  height: 30px;
  width: 4px;
  background-color: #000;
  position: absolute; 
  top: 100%;
}
.sub{
  margin-top: 30px;
  display: none;
}
.sub.active{ 
  display: flex;
}

.org5{ 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  text-align: center;
  font-size: 11px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-top: 30px; 
  width: 240px !important; 
  padding: 10px; 
  height: 53px;
  cursor: pointer;
}
.org5:after {
  content: "";
  position: absolute;
  background-color: #000;
  top: -30px;
  width: calc(100% + 10px);
  height: 4px;
}
.org5:first-child:after { 
  left: 50%;
}
.org5:last-child:after { 
  right: 50%;
}
.org5:before {
  content: "";
  position: absolute;
  left: auto;
  right: auto;
  display: block;
  height: var(--h-org);
  top: calc(-50% - 4px);
  width: 4px;
  background-color: #000;
} 
.org5.active {
  background-color: var(--bg-main3);
}
.org5.active div {
  height: 60px;
  width: 4px;
  background-color: #000;
  position: absolute;
  top: 100%;
}

.org51{ 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  text-align: center;
  font-size: 11px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-top: 30px; 
  width: 240px !important; 
  padding: 10px; 
  height: 53px;
  cursor: pointer;
}
.mt-30{
  margin-top: -30px;
}
.mt-30 li a{ 
  white-space: nowrap; 
}

.sub-org{
  display: none;
  margin-top: 30px;
  position: relative;
}
.sub-org.active{
  display: flex !important; 
} 
.org6{ 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  text-align: center;
  font-size: 11px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-top: 30px; 
  width: 240px !important; 
  padding: 10px; 
  height: 100px;
  cursor: pointer;
} 
.organiz{
  display: none;
}
.organiz ul{
  list-style: none; 
  margin-top: 20px;
  padding-left: 10px;
}
.organiz ul li{
  position: relative;
  padding-left: 20px;
  margin-bottom: 11px;  
  font-size: 13px;
  transition: .33s all ease-out;  
}
.organiz ul li a{
  color: #000;
}
.organiz ul li:hover a{
  color: var(--bg-main);
}
.organiz ul li::after{
  content: "";
  position: absolute;
  background-color: #000; 
  height: 2px;
  width: 15px;
  top: 50%;
  left: 0;
}
.organiz ul li::before{
  content: "";
  position: absolute;
  background-color: #000; 
  width: 2px;
  height: 30px;
  top: calc(-100%);
  left: 0;
}
.organiz.active{
  display: flex;
}
/* .sub1 .org5:nth-child(1)::after{
  left: calc(32% + 3px);
} */
.modal .nav-tabs{
  border-bottom: 0px;
} 
.modal .nav-tabs .nav-item a{
  background-color: var(--bg-main4);
  color: #000; 
  border-radius: 0px;
} 
.modal .nav-tabs .nav-item a.active{
  background-color: var(--bg-main);
  color: #fff; 
}
.modal .tab-content{
  padding-top: 10px; 
} 
.org3.no-action.active:before{
  content: unset !important;
}
.orgliys{
  font-size: 14px;
  border: 4px solid #000;
  padding: 20px;
}
.orgliys ul{
  list-style: none;
  padding-left: 10px;
}

.org-ex{ 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-main4);
  text-align: center;
  font-size: 11px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-top: 30px; 
  width: 240px !important;
  cursor: pointer;  
  padding: 10px; 
  height: 53px;
  position: relative;
}


.profile-type{  
  position: relative;
  min-height: 297mm;
  background-color: #fff; 
  display: none; 
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.profile-type.active{   
  display: block !important;
}
.type1:after{ 
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0;
  right: 0;
  top: 0;
  background:  var(--bg-main3);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 50% auto , 100%;
  z-index: 2;
}
.p-box1{
  padding: 50px; 
  min-height: 297mm;
  position: relative;
  z-index: 4;
  padding-right: 0px;
}
.p-box1 .imgx{
  height: 400px;
  width: 100%;
  object-fit: cover; 
  margin: 0px auto 30px;
  display: block; 
  border-top: 5px solid var(--bg-main);
} 
.p-box2{
  padding: 50px; 
  padding-left: 0px;
  min-height: 297mm;
  position: relative;
  z-index: 4;
}
.type1 h1{
  color: #000;
  font-size: 40px;
}
.type1 h3{
  color: #000;
  font-size: 20px;
}
.type1 h2{
  color: #000;
  font-size: 24px; 
}
.type1 .des{
  margin-top: 50px;
}
.type1 .h3x{
  color: #fff;
  font-size: 18px;
  padding: 10px;
  background-color: var(--bg-main);
  margin-bottom: 15px; 
  margin-top: 20px;
}
.type1 h4{
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.type1 p{
  margin-bottom: 10px;
  font-size: 16px;
  padding-left: 15px;
}
.btn.btn-x{
  background-color: #fff;
  border: 1px solid #AEB7B2;
  border-radius: 0px;
}
.btn.btn-x.active{ 
  background-color: var(--bg-main);
  border: 1px solid var(--bg-main);
  color: #fff;
}
.modal-body .btn{
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 0;
  margin-bottom: 20px;
}
.sub {
  width: 110%;
}
.org4x.active div {
  height: 60px; 
}
.org34 {
  font-size: 12px;
}
.ccc{
  display: block;
  margin: auto;
  height: 20px;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: red;
}

/* 

transition: .33s all ease-out;  
######################################################################################################
###################################################################################################### 
*/ 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }    
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}  

@keyframes blink-text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}